*{
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    padding-top: 200px; 
    background-image: url(https://i.ibb.co/HVPWX0P/background-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    font-family: 'Inter', sans-serif;
}

h3{
    /* padding: 12px; */
    font-size: 40px;
    font-weight: 500;
    line-height: 80px;
    font-family: 'Noto Serif Lao', serif;
}

h3 span{
     color: #DB2777;
}

p{
    opacity: .9;
    font-size: 14px;
}

a{
    text-decoration: none;
    font-size: 15px;
    line-height: 150px;
    padding: 8px 28px;
    color:black;
    font-family: 'Noto Serif Lao', serif;
}

a:hover,
.btn-primary{
    color: #ffffff;
    background-color: #DB2777;
    border:  solid #DB2777;
    border-radius: 40px;
}
